@model QUANLYKHO.Models.PhieuNhapHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuNhapHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.tenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.tenDangNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maPhieuNhap }) |
    @Html.ActionLink("Back to List", "Index")
</p>
